*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-text: #333;
  --clr-dark: #140200;
  --clr-light: #fff;
  --clr-primary: #4b2533;
  --clr-primary-light: #251018;
  --clr-accent: #270601;
  --btn-primary: #db0000;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 1000px;
}

/* Typography */
.text-gradient {
  background: -webkit-linear-gradient(#db0000, #fee16a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 2em;
}

/* Navigation */
nav {
  background-color: var(--clr-dark);
  padding: 1em;
}

.dnf-icon {
  width: 75px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  margin: 0;
  padding: 0;
  font-weight: var(--fw-bold);
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-light);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--btn-primary);
  text-decoration: underline;
}

/* Layout */
.btn-back {
  display: flex;
  justify-content: flex-start;
}

.btn {
  margin: 1em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 0.5em;
  font-weight: var(--fw-bold);
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-light);
  background-color: var(--clr-accent);
  display: inline-block;
}

a {
  color: inherit;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
  background-color: var(--btn-primary);
}

.trailer {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 3em;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.movelist {
  background-color: var(--clr-accent);
  padding: 1em;
  padding-bottom: 3em;
}

/* Footer */
footer {
  background-color: var(--clr-primary);
  padding: 2em 0;
  margin: 0 auto;
}

.dnf-icon-footer {
  width: 150px;
  border-radius: 1em;
}

.footer-list,
.footer-socials {
  margin: 0;
  padding: 0;
  font-weight: var(--fw-bold);
  list-style-type: none;
  margin: 1em 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-link {
  text-decoration: none;
  color: var(--btn-secondary);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--btn-primary);
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.social-link {
  width: 50px;
}

@media (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4.5em;
    padding: 4em 0;
  }

  .footer-list {
    flex-direction: row;
    align-items: center;
  }
}
